#clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.digit {
    width: 15%;
}

body.dark {
    background-color: black;
}

body.light {
    background-color: #ffd;
}

.dark .segment:not(.s_on) {
    color: #100
}

.dark .segment.s_on {
    color:red;
}

.light .segment:not(.s_on) {
    color: #eec
}

.light .segment.s_on {
    color: #210;
}