#clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#day-indicator {
    margin: 2%;
    width: 3%;
}

.digit {
    width: 12%;
}

body.dark {
    background-color: black;

    .segment[data-state="off"] {
        color: #151010
    }
    .segment[data-state="on"] {
        color:red;
    }
}
    
body.light {
    background-color: #ffd;

    .segment[data-state="off"] {
        color: #eec
    }
    .segment[data-state="on"] {
        color: #210;
    }
}