.dark {
    --bg-color: black;
    --selector-border-color: #555;
    --selector-shadow-color: #333;
    --segment-off-color: #100;
    --segment-on-color: red;
}

.light {
    --bg-color: #ffd;
    --selector-border-color: #555;
    --selector-shadow-color: #333;
    --segment-off-color: #eec;
    --segment-on-color: #333;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.digit {
    width: 15%;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-select {
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 2px var(--selector-border-color);
    box-shadow: 3px 3px 3px var(--selector-shadow-color);
    border-radius: 32px;
}

button.theme-button {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 10px;
    background-color: inherit;
}

.segment:not(.s_on) {
    color: var(--segment-off-color);
}

.segment.s_on {
    color: var(--segment-on-color);
}