#clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#day-indicator {
    margin: 2%;
    width: 3%;
}

.digit {
    width: 12%;
}

body.dark {
    background-color: black;
}

body.light {
    background-color: #ffd;
}

.dark .segment[data-state="off"] {
    color: #100
}

.dark .segment[data-state="on"] {
    color:red;
}

.light .segment[data-state="off"] {
    color: #eec
}

.light .segment[data-state="on"] {
    color: #210;
}